@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-100 text-gray-900;
  }

  .dark body {
    @apply bg-gray-900 text-white;
  }

  .typed-text {
    font-weight: 600;
    color: #facc15; /* yellow-400 */
  }
}
